<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">肖师傅 流动宴席</h1>
       <p class="slogan">肖师傅 流动宴席是专业提供上门承办各种宴席服务
         <br>
        专业的厨师 公道的价格 优质的服务
         <br>
         只需一个电话，就会上门服务 提供宴席一条龙服务
       </p>
       <p class="lead">
         <%= link_to '了解更多', jobs_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>
 </div>

 <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">流动宴席 服务到家</h2>
          <p class="lead"> 菜式丰富 丰俭皆可</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">省心如意 经济实惠</h2>
          <p class="lead">上门操办 不同档次 随你搭配 </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">方便快捷 让你满意</h2>
          <p class="lead">随时搭建 餐具齐全 只要你提供场地</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>
